/* color variables */
$clr-primary: #d50000;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;

/* border radius */
$radius: 0.2rem;

#root{
  font-family:"Gill Sans", sans-serif;
  margin: 2rem;
  background:$clr-gray100;
}

main.dashboard {
    display: grid;
    background: $clr_gray100;
    justify-content:center;
    font-family: "Roboto-Regular", "Roboto", sans-serif;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

}

.widget_pane{
      display: grid;
      grid-template-columns:repeat(auto-fit, minmax(12rem, 16rem));
      gap: 2rem;
      grid-column-start: 2;
      grid-column-end: 4;
}

.widget {
    overflow: hidden;
    background: $clr_gray100;
    box-shadow:0 2px 20px $clr-gray300;
    border-radius:$radius;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    cursor:pointer;
    transition:transform 200ms ease-in;

  &__image{
    height:12rem;
    width:100%;
    object-fit:cover;
  }

  &__title{
    padding:1rem;
  }

  &__description{
    padding:0 1rem;
  }

  &__btn {
    padding: 1rem;
    font-family:inherit;
    font-weight:italic;
    font-size:1rem;
    margin:1rem;
    border:2px solid $clr-primary;
    background-color:transparent;
    color:black;
    border-radius:$radius;
    transition:background 200ms ease-in, color 200ms ease-in;
  }

  &:hover{
    transform:scale(1.02);
    }
}

.control_pane{
    display: grid;
    grid-column: 1 / 1;
    grid-template-rows: auto;
}
