html {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background:#F5FFFA;
}

main {
    background:#F5FFFA;
    font-family: "Roboto-Regular", "Roboto", sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "control1 widget widget widget"
        "control2 widget widget widget"
        "control3 widget widget widget"
        "control4 widget widget widget"
        "footer footer footer footer";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto-Regular", "Roboto", sans-serif;
    font-size: medium;
    color: #2F4F4F;
    padding: 0;
}

p { font-family: "ArialMT", "Arial", sans-serif;
    font-size: small;
  }


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
